name: Audit
on:
  pull_request:
  push:
    branches:
    - master
    - release-*

jobs:
  rust:
    name: Audit
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
        - macos-latest
        - ubuntu-latest

    env:
      RUSTFLAGS: -D warnings
      RUST_BACKTRACE: full
      CARGO_INCREMENTAL: 1
      RUSTUP_MAX_RETRIES: 10
      CARGO_NET_RETRY: 10

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: fix permissions
      if: matrix.os == 'ubuntu-latest'
      run: sudo chown -R $(whoami):$(id -ng) ~/.cargo/

    # - name: cargo-audit
    #   uses: actions-rs/install@v0.1
    #   continue-on-error: true
    #   with:
    #     crate: cargo-audit
    #     version: latest
    #     # use-tool-cache: true

    # - name: Audit dependencies
    #   run: cargo audit # --deny-warnings

    - uses: actions-rs/audit-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
